
.updateAppointment form {
    width: 100%;
}

.UpdateCompany {
    background-color: #fff;
    padding: 40px; /* Increased padding for a more spacious feel */
    border-radius: 12px; /* Slightly more rounded corners */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow for better depth */
}

.UpdateCompany .MuiBox-root {
    margin-top: 24px; /* Increased margin for better spacing */
}

.UpdateCompany .MuiTypography-root {
    margin-bottom: 32px; /* Increased margin for better spacing */
    font-weight: bold; /* Make the heading bold */
    color: #333; /* Darker color for the heading */
}

.UpdateCompany .MuiTextField-root {
    margin-bottom: 24px; /* Increased margin for better spacing */
}

.UpdateCompany .MuiButton-root {
    margin-top: 24px; /* Increased margin for better spacing */
    padding: 12px; /* Add padding to the button */
    background-color: #007bff; /* Primary blue color for the button */
    color: #fff; /* White text color for better contrast */
}

.UpdateCompany .MuiButton-root:hover {
    background-color: #0056b3; /* Darker blue for hover state */
}
