.AllAppointments {
    padding: 20px;
    margin: 0 auto;
    max-width: 650px;
    background-color: #f0f4f8;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.AllAppointments .appointmentList {
    padding: 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.AllAppointments .appointmentList hr {
    border: none;
    border-top: 1px solid #d0d0d0;
    margin: 25px 0;
}

.AllAppointments .MuiTypography-root {
    margin-bottom: 12px;
    color: #444444;
}
