/* GetSinglePatient.css */

.GetSinglePatient {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    max-width: 400px;
    transition: transform 0.2s ease-in-out;
}

.GetSinglePatient:hover {
    transform: scale(1.02);
}

.GetSinglePatient .MuiTypography-h5 {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.GetSinglePatient p {
    margin: 5px 0;
}

.GetSinglePatient p b {
    color: #555;
}
